@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Я сделяль</h1>
    <p class="lead">Приложение с master-page и операциями для двух связанных таблиц в no-SQL database</p>
    <hr class="my-4">
    <p>Использована LiteDB</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" asp-controller="Products" asp-action="Index">Начать товары делать</a>
    </p>
</div>
